/* TOP HALF RECTANGLES*/
.placeholder{
    background: black;
    width: 8rem;
    height: 4rem;
}

.rec1{
    position: absolute;
    width: 20rem;
    height: 1rem;
    left: 20rem;
    top: 0rem;

    background: #edb306;
}

.rec2{
    position: absolute;
    width: 1rem;
    height: 7rem;
    left: 39rem;
    top: 1rem;

    background: #EDB506;
}

.rec3{
    position: absolute;
    width: 14rem;
    height: 1rem;
    left: 26rem;
    top: 8rem;

    background: #EDB506;
}

.rec4{
    position: absolute;
    width: 1rem;
    height: 7.1rem;
    left: 23.32rem;
    top: 7.35rem;

    background: #EDB506;
    transform: rotate(45deg);
}

.rec5{
    position: absolute;
    width: 1rem;
    height: 4rem;
    left: 21rem;
    top: 13rem;

    background: #EDB506;
}

.rec6{
    position: absolute;
    width: 18rem;
    height: 1rem;
    left: 22rem;
    top: 16rem;

    background: #EDB506;
}

.rec7{
    position: absolute;
    width: 1rem;
    height: 3rem;
    left: 39rem;
    top: 17rem;

    background: #EDB506;
}

/* BOTTOM HALF RECTANGLES*/

.borderOne{
    position: absolute;
    width: 1rem;
    height: 40rem;
    left: 19.5rem;
    top: -20rem;

    background: linear-gradient(180deg, #42FF00 0%, #00C2FF 100%);
    transform: rotate(-90deg);
}

.borderTwo{
    position: absolute;
    width: 1rem;
    height: 18.5rem;
    left: 0rem;
    top: 0.5rem;

    background: linear-gradient(180deg, #42FF00 0%, #00C2FF 100%);
}

.borderThree{
    position: absolute;
    width: 1rem;
    height: 40rem;
    left: 19.5rem;
    top: -0.5rem;
    
    background: linear-gradient(180deg, #42FF00 0%, #00C2FF 100%);
    transform: rotate(90deg);
}

.borderFour{
    position: absolute;
    width: 1rem;
    height: 18.5rem;
    left: 39rem;
    top: 0.5rem;
    
    background: linear-gradient(180deg, #42FF00 0%, #00C2FF 100%);
    transform: rotate(-180deg);
}

.brec2{
    position: absolute;
    width: 8rem;
    height: 6rem;
    left: 2rem;
    top: 10rem;
    
    background: #686363;
    border-style: double;
  
}

.brec3{
    position: absolute;
    width: 8rem;
    height: 5rem;
    left: 11rem;
    top: 13rem;

    border-style: double;
    background: #CFC8C8; 
}

.brec4{
    position: absolute;
    width: 7rem;
    height: 5rem;
    left: 22rem;
    top: 13rem;

    border-style: double;
    background: #5E5E5E;
}

.brec5{
    position: absolute;
    width: 6rem;
    height: 4rem;
    left: 31rem;
    top: 11rem;
    
    border-style: double;
    background: #9D9A9A;
}

.brec6{
    position: absolute;
    width: 7rem;
    height: 5rem;
    left: 31rem;
    top: 3rem;
    
    border-style: double;
    background: #BCB9B9;
}

.brec7{
    position: absolute;
    width: 7rem;
    height: 5rem;
    left: 2rem;
    top: 2rem;
    
    border-style: double;
    background: #D9D9D9;
}


.brec2:hover, .brec3:hover, .brec4:hover, .brec5:hover, .brec6:hover, .brec7:hover{
    border-color: #9ecaed;
    box-shadow: 0 0 10px #e61616;
}