html{
  scroll-behavior: smooth;
}

@media /*MOBILE*/ (max-width: 600px){
  .hero{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    height: 100vh;
  }
  .namestyle{
    z-index: 5;
    position: absolute;
    margin: auto;
    font-size: 2rem;
    font-family: 'Poiret One', cursive;
    color: whitesmoke;
    text-shadow: 5px 5px #558ABB;
  }

  /* NAV BAR */

  .navbar{
    width: 100%;
    z-index: 5;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
  }

  .navbaritem{
    width: 16.7%;
    background-color: #5e007a;
    background-image: url("/src/img/cluttered/rub.jpg");
    background-size: cover;
    text-decoration: none;
    border: 1px solid black;
    text-align: center;
    box-shadow:
    inset 0 0 50px #d3b9b991,
    inset 20px 0 60px rgba(0, 153, 255, 0.514),
    inset -20px 0 60px rgba(0, 255, 149, 0.459),
    inset 20px 0 260px rgba(0, 153, 255, 0.521),
    inset -20px 0 300px rgba(0, 255, 255, 0.562),
    0 0 50px #ffffff93,
    -10px 0 60px rgb(0, 204, 255),
    10px 0 60px rgb(0, 255, 98);
  }

  .navbaritemtext{
    text-align: center;
    padding-bottom: 5%;
    text-decoration: none;
    font-size: 0.8rem;
    position: relative;
    top: -0.5rem;
    font-family: 'Poiret One', cursive;
    color: whitesmoke;
    text-shadow: 5px 5px #558ABB;
  }

  .navbartotop{
    z-index: 5;
    display: flex;
    width: 100%;
    position: fixed;
    top: 7%;
    justify-content: left;
  }

  .arr{
    width: 8%;
    color: red;
  }


  /* TRANSITION(MY PORTFOLIO) */

  .transition{
    width: 100%;
    height: 40vh;
    z-index: 4;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .transitiontext{
    width: 100%;
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    text-align: center;
    position: relative;
    top: -5%;
    font-family: 'Poiret One', cursive;
    color: whitesmoke;
    text-shadow: 5px 5px #558ABB;
  }

    /* CONTAINER */

  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 10%;
  }

  .sectionheight{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card{

    display: flex;
    flex-direction: column;
    z-index: 4;
    width: 50%;
    height: 40rem;
    margin-bottom: -5rem;
    position: relative;
    margin-top: 5%;
    justify-content: center;
  }

  .cardelement{
    justify-content: center;
    width: 100%;
    height: 5%;
    padding: 1rem;
    font-family: 'Poiret One', cursive;
    color: whitesmoke;
    font-size: 1rem;
    background-color: rgb(72, 94, 95);
    border: 1px solid black;
    opacity: 75%;
    text-align: center;
    box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
  }

  .cardelement:hover{
    color: red;
    background-color: rgb(0, 0, 0);
    font-weight: bolder;
  }

  .cardelementico/*icon size*/{
    width: 8%;
    height: 8%;
    text-align: center;
    vertical-align: middle;
    padding-right: 1rem;
  }

  .cardinverse{

    display: flex;
    flex-direction: column;
    z-index: 4;
    width: 50%;
    height: 40rem;
    position: relative;
    margin-bottom: -5rem;
    margin-top: 5%;
    opacity: 50;
    justify-content: center;
  }

  .cardinverseelement{
    width: 100%;
    height: 5%;
    padding: 1rem;
    font-size: 0.8rem;
    font-family: 'Poiret One', cursive;
    color: whitesmoke;
    background-color: rgb(72, 94, 95);
    border: 1px solid black;
    opacity: 75%;
    text-align: center;
    letter-spacing: 50%;
    box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
  }
  .cardinverseelement:hover{
    color: red;
    background-color: rgb(0, 0, 0);
    font-weight: bolder;
  }

  .aboutmecard{
    display: flex;
    flex-direction: column;
    z-index: 4;
    width: 75%;
    height: 40rem;
    margin-bottom: -5rem;
    position: relative;
    margin-top: 5%;
    left: 10%;
    justify-content: center;
  }

  .aboutmecardelement{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    padding: 1rem;
    font-size: 1rem;
    font-family: 'Poiret One', cursive;
    color: whitesmoke;
    background-color: rgb(72, 94, 95);
    border: 1px solid black;
    opacity: 75%;
    text-align: center;
    letter-spacing: 50%;
    box-shadow:
    inset 0 0 50px #ffffff91,
    inset 20px 0 80px rgba(255, 0, 255, 0.514),
    inset -20px 0 80px rgba(0, 255, 255, 0.459),
    inset 20px 0 300px rgba(255, 0, 255, 0.521),
    inset -20px 0 300px rgba(0, 255, 255, 0.562),
    0 0 50px #ffffff93, 
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
  }
  
  .anchor{
    height: 5rem;
    position: relative;
    width: 40%;
  }
  
}

@media /*PC*/ (min-width: 600px){

  .hero{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    height: 100vh;
  }
  .namestyle{
    z-index: 5;
    position: absolute;
    margin: auto;
    font-size: 6rem;
    font-family: 'Poiret One', cursive;
    color: whitesmoke;
    text-shadow: 5px 5px #558ABB;
  }

  /* NAV BAR */

  .navbar{
    width: 100%;
    z-index: 5;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
  }

  .navbaritem{
    width: 16.7%;
    text-decoration: none;
    border: 1px solid black;
    text-align: center;
    box-shadow:
    inset 0 0 25px #d3b9b991,
    inset 20px 0 60px rgba(0, 153, 255, 0.514),
    inset -20px 0 60px rgba(75, 202, 202, 0.459),
    inset 20px 0 260px rgba(0, 153, 255, 0.521),
    inset -20px 0 300px rgba(0, 255, 255, 0.562),
    0 0 20px #ffffff93,
    -10px 0 10px rgb(0, 204, 255),
    10px 0 10px rgb(0, 255, 98);
  }

  .navbaritemtext{
    text-align: center;
    padding-bottom: 5%;
    text-decoration: none;
    font-size: 1.8rem;
    position: relative;
    top: -0.5rem;
    font-family: 'Poiret One', cursive;
    color: whitesmoke;
    text-shadow: 5px 5px #558ABB;
  }
  
  /* TRANSITION(MY PORTFOLIO) */

  .transition{
    width: 100%;
    height: 40vh;
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .transitiontext{
    width: 100%;
    font-family: 'Kanit', sans-serif;
    font-size: 5rem;
    text-align: center;
    position: relative;
    top: -5%;
    font-family: 'Poiret One', cursive;
    color: whitesmoke;
    text-shadow: 5px 5px #558ABB;
    margin: auto;
  }

  .transitionImg{
    position: relative;
    width: 60%;
    height: 60%;
    margin: auto;
    margin-top: auto;
    top: 5%;
  }

    /* CONTAINER */

  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 10%;
  }

  .sectionheight{
    display: fleX;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 4;
  }

  .sectionheight2{
    display: flex;
    height: 200vh;
    width: 100%;
    position: relative;
    z-index: 4;
    border-bottom: 4mm ridge rgba(75, 150, 247, 0.705);
  }

  /* SKILLS SECTION */

  .myskills{
    margin: auto;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 0%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Poiret One', cursive;
    font-size: 300%;
    text-shadow: 0 1px 0 #efefef,
           0 2px 0 #efefef,
           0 3px 0 #efefef,
           0 4px 0 #efefef,
           0 30px 5px rgba(0,0,0,.1);
  }

  .ws{
    background-color: rgba(245, 245, 245, 0.788);
    border-top: 1rem ridge rgba(75, 150, 247, 0.705);
    border-bottom: 1rem ridge rgba(75, 150, 247, 0.705);
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 4;
  }

  .floatingtext {
    width: 25%;
    /* margin-top: 9%; */
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Poiret One', cursive;
    font-size: 200%;
    text-shadow: 0 1px 0 #efefef,
           0 2px 0 #efefef,
           0 3px 0 #efefef,
           0 4px 0 #efefef,
           0 30px 5px rgba(0,0,0,.1);
  }

.pos1{
  position: relative;
  left: 25%;
  top: 20%;
  animation-name: floating;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.pos2{
  position: relative;
  left: 42%;
  top: 20%;
  animation-name: floating2;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.pos3{
  position: relative;
  left: 28%;
  top: 30%;
  animation-name: floating3;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.pos4{
  position: relative;
  left: 65%;
  top: 0%;
  animation-name: floating;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.pos5{
  position: relative;
  left: 45%;
  top: 30%;
  animation-name: floating2;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.pos6{
  position: relative;
  left: 20%;
  top: 10%;
  animation-name: floating3;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
  from { transform: translate(15px,  15px); }
  50%  { transform: translate(-15px, 35px); }
  to   { transform: translate(15px, 15px); }    
}
@keyframes floating2 {
  from { transform: translate(0px,  0px); }
  65%  { transform: translate(35px, 15px); }
  to   { transform: translate(0px, -0px); }    
}
@keyframes floating3 {
  from { transform: translate(45px,  45px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(45px, 45px); }    
}

/* UTDANNING SECTION */

.parallaximg{
  height: 200vh;
  width: 100%;
  opacity: 0.9;
  position: relative;
  z-index: 4;
  border-top: 4mm ridge rgba(75, 150, 247, 0.705);
}

.parallax1{
  height: 800vh;
  width: 100%;
  opacity: 1;
  position: relative;
  z-index: 4;
  background-image: contain;
}
  

  .card{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    text-align: center;
    background-color: #1F2124;
    z-index: 4;
    width: 30%;
    padding: 2rem;
    height: 30rem;
    margin-bottom: -5rem;
    border-radius: 15px;
    position: relative;
    margin-top: 5%;
    left: 1%;
    justify-content: center;
    top: 5%;
    margin-right: 2%;
  }

  .card:nth-child(+2){
    position: relative;
    top: 40rem;
  }

  .card:nth-child(+3){
    position: relative;
    top: 74rem;
  }

  .cardelement{
    width: 75%;
    height: 42%;
    padding: 1rem;
    font-family: 'Poiret One', cursive;
    color:  #F68657;
    margin: auto;
    border-right: 1px solid #F68657;
    border-left: 1px solid #F68657;
  }

  .topcardelement{
    width: 75%;
    height: 42%;
    padding: 1rem;
    font-family: 'Poiret One', cursive;
    color: whitesmoke;
    margin: auto;
    border-bottom: 1px solid #F68657;
  }

  .cardelement:hover{
    font-family: 'Poiret One', cursive;
    color: red;
    font-size: 150%;
  }

  .projectcontainer{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .projectcontainer2{
    width: 100%;
    display: flex;
  }

  .projectheadercard{
    display: flex;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    text-align: center;
    background-color: #1F2124;
    z-index: 4;
    width: 30%;
    padding: 2rem;
    height: 10rem;
    border: 0.15rem #F68657 solid;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .projectheadercardtext{
    font-family: 'Poiret One', cursive;
    color: whitesmoke;
    text-align: center;
    font-size: 3rem;
    width: 100%;
    margin: auto;
  }

  .projectcard{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 40px rgba(0,0,0,0.4);
    background-color: #1F2124;
    z-index: 4;
    width: 30%;
    padding: 2rem;
    height: 16rem;
    border: 0.15rem #F68657 solid;
    border-radius: 15px;
    margin: 3%;
  }

  .projectcardtitle{
    font-family: 'Poiret One', cursive;
    color: whitesmoke;
    text-align: center;
    font-size: 1.8rem;
    width: 100%;
    margin: 0 auto;
  }

  .projectcardtextandimagecontainer{
    margin-top: 5%;
    display: flex;
    max-height: 10rem;
  }

  .projectcardimage{
    max-width: 50%;
    max-height: 75%;
    border: 0.1rem solid black;
    border-radius: 5%;
    margin-right: 5%;
  }

  .projectcardtext{
    font-family: 'Poiret One', cursive;
    color: #F68657;
    text-align: center;
    font-size: 1.4rem;
    max-height: 10rem;
    width: 100%;
    overflow: hidden;
    margin-bottom: 1rem;
  }

  .projectcardlink{
    font-family: 'Poiret One', cursive;
    color: whitesmoke;
    text-align: center;
    font-size: 1.8rem;
    overflow: hidden;
  }

  .projectcardlink:hover{
    color: rgb(0, 255, 234);
  }



  .anchor{
    height: 5rem;
    position: relative;
    width: 40%;
    height: 50%;
  }
}



.aboutmecard{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    text-align: center;
    background-color: #1F2124;
    z-index: 4;
    width: 80%;
    padding: 2rem;
    /* height: 30rem; */
    margin-bottom: -5rem;
    border-radius: 15px;
    position: relative;
    margin-top: 5%;
    justify-content: top;
    margin: auto;
}

.aboutmecardelementtop{
    padding: 3rem;
    font-family: 'Poiret One', cursive;
    color: whitesmoke;
    margin: auto;
    border-top: 1px solid #F68657;
    border-bottom: 1px solid #F68657;
    position: relative;
    margin-bottom: 5%;
}

.aboutmecardelement{
  width: 75%;
  /* height: 42%; */
  padding: 1rem;
  font-family: 'Poiret One', cursive;
  font-size: 200%;
  color:  #F68657;
  margin: auto;
  border-right: 1px solid #F68657;
  border-left: 1px solid #F68657;
}