.app{
  display: flex;
 /*  width: 100%; */
  height: 100%;
  justify-content: center;
}

.dimensions{
  width: 10rem;
  height:7rem;
  background: #c7c9c9;
  border: 1px solid black;
  border-style: double;
  background-image: url(/src/img/5376547.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  margin: auto;
  margin-top: 1.5rem;
}

.dimensions2{
  width: 10rem;
  height: 14rem;
  position: relative;
  background: #ffffff;
  border: 1px solid black;
  background-image: url(/src/img/vv.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: -0.5rem;
}

.dimensions3{
  width: 10rem;
  height: 7rem;
  position: relative;
  background: #ffffff;
  border: 1px solid black;
  background-image: url(/src/img/6057926.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}


@media (min-width: 600px) {
  .app{
    width: 100%;
    justify-content: center;
    position: inherit;
  }

  .dimensions {
    width: 50rem;
    height: 40rem;
  }

  .dimensions2 {
    width: 50rem;
    height: 40rem;
  }

  .dimensions3 {
    width: 50rem;
    height: 40rem;
  }
}

/* NAV MENU */  

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.navbaritem{
  background: rgb(1, 153, 13);
  width: 16.02%;
  height: 1.3rem;
  margin-top: 0;
  margin: 0;
  border: 1px double black;
}

@media (max-width: 600px){

  .navbaritem:hover{
    background: rgb(70, 185, 59);
}
}

.navbaritemtext{
  color: white;
  margin: auto;
  font-size: 8px;
  text-align: center;
  position: relative;
  top: -0.8rem;
  text-decoration: none;
}

.buttonText{
  color: rgb(158, 156, 156);
  margin: auto;
  font-size: 32px;
  text-align: center;
  position: absolute;
  left: 7rem;
}

.textDiv{
    position: absolute;
    width: 10rem;
    height: 10rem;
    left: 2rem;
    top: 3.1rem;
    background: #ffffff00;
}

@media (min-width: 600px) {

  .navbar{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    left: 26rem;
    top: 0rem;
  }
  
  .navbaritem{
    background: rgba(0, 0, 0, 0);
    width: 8rem;
    height: 5rem;
    background-image: url(/src/img/btn.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 0.5rem;
    justify-content: space-evenly;
    margin: 0.5rem;
    border-radius: 10%;
    left: 5rem;
    border-style: none;
    text-decoration: none;
  }
  
  .navbaritemtext{
    color: white;
    margin: auto;
    font-size: 14px;
    text-align: center;
    position: relative;
    top: 0.8rem;
    left: -0.9rem;
    text-decoration: none;
  }
  
  .empty{
      width: 31.21875rem;
      height: 46.875rem;
      margin: 2rem;
      position: absolute;
      background: #ffffff;
      background-image: url(/src/img/6057926.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      top: 2rem;
      left: 60.25rem;
      border: 3px solid rgb(0, 0, 0);
  }
  

  .textDiv{
    position: relative;
    width: 20rem;
    height: 20rem;
    left: 10rem;
    top: 10rem;

    background: #ffffff00;
}

  .buttonText{
    color: rgb(158, 156, 156);
    margin: auto;
    font-size: 32px;
    text-align: center;
    position: absolute;
    left: 7rem;
    top: 2.5rem;
}
}



/* INFO TEXT SETTINGS*/

.fontOne{
    position: relative;
    width: 4rem;
    height: 1rem;
    left: 7rem;
    top: -0.6rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 6px;
    line-height: 17px;

    color: #0075FF;
}

.fontTwo{
    position: relative;
    width: 25rem;
    height: 3rem;
    left: 6.7rem;
    top: -1.4rem;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 5px;
    line-height: 24px;
    
    color: #f5ecec;
}

.fontThree{
    position: relative;
    width: 18rem;
    height: 2rem;
    left: 6.8rem;
    top: -3.8rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 5px;
    line-height: 17px;

    color: #e2dddd;
}

.fontFour{
    position: relative;
    width: 18rem;
    height: 2frem;
    left: 6.4rem;
    top: -5.6rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 30px;

    color: #0075FF;
}

.fontFive{
    position: absolute;
    width: 18rem;
    height: 2rem;
    left: 6.5rem;
    top: 1.5rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 6px;
    line-height: 15px;

    color: #ecdfdf;
}

.fontSix{
    position: absolute;
    width: 10.5rem;
    height: 1.188rem;
    left: 6.5rem;
    top: 2rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 5px;
    line-height: 15px;
    text-decoration-line: underline;

    color: #ffffff;
}

.fontSeven{
    position: absolute;
    width: 32.438rem;
    height: 1.188rem;
    left: 7rem;
    top: 3.7rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 4px;
    line-height: 15px;

    color: #f7f7f7;
}

.iconprop1{
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    left: 6rem;
    top: 1.7rem;
}

.iconprop2{
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    left: 5.9rem;
    top: 2.3rem;
}

.iconprop3{
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    left: 7.8rem;
    top: 3.5rem;
}

@media (min-width: 600px) {

  .fontOne{
    position: relative;
    width: 4rem;
    height: 1rem;
    left: 12.3rem;
    top: -3rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 17px;

    color: #0075FF;
}

.fontTwo{
    position: relative;
    width: 25rem;
    height: 3rem;
    left: 11.5rem;
    top: -2rem;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 24px;
    
    color: #f5ecec;
}

.fontThree{
    position: relative;
    width: 18rem;
    height: 2rem;
    left: 14rem;
    top: -3rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 17px;

    color: #e2dddd;
}

.fontFour{
    position: relative;
    width: 18rem;
    height: 2frem;
    left: 10.5rem;
    top: -2rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 30px;

    color: #0075FF;
}

.fontFive{
    position: relative;
    width: 18rem;
    height: 2rem;
    left: 10rem;
    top: -3rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 15px;

    color: #ecdfdf;
}

.fontSix{
    position: relative;
    width: 10.5rem;
    height: 1.188rem;
    left: 10rem;
    top: -2rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 15px;
    text-decoration-line: underline;

    color: #ffffff;
}

.fontSeven{
    position: relative;
    width: 32.438rem;
    height: 1.188rem;
    left: 14rem;
    top: 7.5rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;

    color: #f7f7f7;
}

.iconprop1{
    position: relative;
    width: 3rem;
    height: 3rem;
    left: 6.5rem;
    top: -0.6rem;
}

.iconprop2{
    position: absolute;
    width: 3rem;
    height: 3rem;
    left: 6.5rem;
    top: 10.1rem;
}

.iconprop3{
    position: absolute;
    width: 3rem;
    height: 3rem;
    left: 17.5rem;
    top: 18rem;
}
}


/* CARD FONT SETTINGS */

.h1text{
    font-size: 20px;
    text-align: center;
    color: rgb(220, 230, 92);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-bottom: 0px;
}

.h2text{
    font-size: 6px;
    color:#ffffff;
    max-width: 20rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-top: 0.5rem;
}

@media (min-width: 600px) {

    .h1text{
      font-size: 40px;
      text-align: center;
      color: rgb(220, 230, 92);
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      margin-bottom: 0px;
      margin-top: 1rem;
  }

  .h2text{
      font-size: 20px;
      color:#ffffff;
      margin-left: 6rem;
      width: 28rem;
      max-width: 640px;
  }

  .pt{
      font-size: 24px;
      margin-top: 0px;
      color: white;
      max-width: 55%;
  }
}

/* ANIMATIONS */ 

@-webkit-keyframes hvr-wobble-top {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }
  @keyframes hvr-wobble-top {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }
  .hvrwobbletop {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    text-decoration: none;
  }
  .hvrwobbletop:hover, .hvrwobbletop:focus, .hvrwobbletop:active {
    -webkit-animation-name: hvr-wobble-top;
    animation-name: hvr-wobble-top;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

  @-webkit-keyframes hvr-pulse-shrink {
    to {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  @keyframes hvr-pulse-shrink {
    to {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  .hvrpulseshrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvrpulseshrink:hover, .hvrpulseshrink:focus, .hvrpulseshrink:active {
    -webkit-animation-name: hvr-pulse-shrink;
    animation-name: hvr-pulse-shrink;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
